<template>
  <q-page class="flex flex-center">
   
    <div>
    	<q-btn  color="secondary" @click="login()">
			Login
		</q-btn>
    </div>

  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'Login',
  data() {
  	return {
  	}
  },
  methods: {
    login(){
      console.log("Reached login function");
      login();
    }
  }
}

</script>
