
<template class="bgImage">
	
</template>

<style>

.bgImage { 

   background-image: url('../assets/to_do_list.png');
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
</style>
