<template>
  <div>
  <q-layout view="hhh LpR fFf"  v-bind:class="{ bgImage: !authenticated } " >
    <q-layout-header>
      <q-toolbar color="cyan-4" glossy>
        <q-toolbar-title>
          <div class="row ">
              <div class="col-8 ">
                <i class="fas fa-list-alt"></i> To Do List App
              </div>
              <div class="col-3 text-right " v-if="authenticated">
                <i class="fas fa-user"></i> | Welcome back, Sri 
              </div>

             <div class="col text-right" v-if="authenticated">
                <q-btn block color="primary"   @click="logout()" label="Logout">
                </q-btn>
                <q-tooltip>Logout</q-tooltip></i> 
             </div>
             <div class="col text-right"  v-if="!authenticated">
                <q-btn block color="primary"   @click="login()" label="Login">
                </q-btn>
                <q-btn block color="secondary" label="Sign Up">
                </q-btn>
             </div>
          </div>
        </q-toolbar-title>

      </q-toolbar>
    </q-layout-header>
    <q-page-container class="containerStyle">
        <router-view 
        :auth="auth" 
        :authenticated="authenticated">
      </router-view>
    </q-page-container >
    <q-layout-footer>
       <q-toolbar color="cyan-4" glossy>
          <q-toolbar-title class="text-center">
              Copyright © SKPublisher 2018
          </q-toolbar-title>
       </q-toolbar>
    </q-layout-footer>
  </q-layout>
</div>
</template>

<script>
import AuthService from '../auth/AuthService'

import { openURL } from 'quasar'

const auth = new AuthService()

const { login, logout, authenticated, authNotifier } = auth

export default {
  name: 'LayoutDefault',
  data () {
    authNotifier.on('authChange', authState => {
      this.authenticated = authState.authenticated
    })
    return {
      auth,
      authenticated
    }
  },
  methods: {
    login,
    logout
  }
}
</script>

<style>
.containerStyle {
    padding: 4em;
  }
.borderstyle {
  border-style: solid;
  border-color: red;
}
.bg {
  text-align: center;
}
.bgImage { 

   background-image: url('../assets/to_do_list.png');
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //filter: blur(2px);
 }
 .bgImageAuth { 

   background-image: url('../assets/infinite.png');
    //filter: blur(2px);
 }
</style>
